@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    background:;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    max-width: 2000px;
}

body{
    background-color: #fff59d;

}

html{
box-sizing: border-box;
}

*,* ::after, ** ::before{
    box-sizing: border-box;
}

.contenedor-formulario{
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 50%;
    position: relative;
    top: 250px;
    left: 450px;
    right: 450px;
}
.imagen-formulario{
    background-image: url('../img/ASSETS/fondolog.jpg');
    background-position: center center;
    background-size: cover;
    height: 200px;
    flex: 0 0 calc(60%);
}

@media (min-width:768px) {
    .imagen-formulario{
        height: auto;
    }
}
@media(min-width:768px){
    .contenedor-formulario{
        display: flex;
    }
}
.formulario{
    padding: 50px;
    background-color: #ffff;
}
.texto-formulario, h2{
    font-size: 40px;
}
.input label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}
.fondo-formulario{
    background-image: url(../img/ASSETS/fondologin.svg);
    width: 1100px;
    height: 1100px;
}
.password-olvidada{
    display: inline-block;
    margin-top: 90px;
    margin-left: 90px;
}
.input input{
    width: 100%;
    padding: 5px 6px;
    border-radius: 5px;
    outline: none;
}
.input input[type="submit"]{
    background-color: #ff9100;
    border-radius: 20px;
    color: #ffff;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    transition: background-color .3s ease-in-out;

}
.input input[type="submit"]:hover{
    
    cursor: pointer;
    background-color: #FFAD60;
}
.C-olvidada{
    text-decoration: none;
    color: grey;
    float: left;
    font-size: 15px;
}