@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

:root{
    --blanco: #ffffff;
    --gris: #DAD2CF;
    --naranja: #F2810C;
    --amarillo: rgba(253, 250, 86, 0.623);
    --negro: #000000;
}

body{
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: var(--negro);
    background-color: var(--gris);
}

#sidebar-container {
    min-height: 100vh;
    width: 20rem;
}

#sidebar-container .logo {
    padding: 30px 30px;
}

#sidebar-container .menu {
    width: 18rem;
    padding-left: 30px;
    text-decoration: none;
}

.bg-primary-{
    background-color: var(--blanco) ;
}

a:hover {
    text-decoration: none;
}

.bg-primary-1{
    width: 75%;
    float: right;
    background-color: var(--blanco);
    padding: 30px;
    margin: 10px;
    margin-top: 0px;
}

.usuario {
    float: right;
    padding-right: 50px;
}

.logo1{
    float: left;
    align-items: center;
}

.nombre-usuario{
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--naranja);
    font-size: small;
    font-weight: bold;
}

.correo-usuario{
    margin-bottom: 1px;
    font-weight: bold;
    font-size: medium;
}

.container-I{
    float: right;
    width: 75%;
    margin: 10px;
}

.elementos{
    background-color: var(--blanco);
    width: 45%;
    margin: 25px;
    color: var(--blanco);
    padding-left: 50px;
    float: left;
    border-radius: 10%;
}