@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

:root{
    --blanco: #ffffff;
    --gris: #DAD2CF;
    --naranja: #F2810C;
    --amarillo: #F2B50C;
}

body{
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}