@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    max-width: 100%;
}

.barraNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: relative;
    top: 0%;
    z-index: 99;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;  
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #ff9100;
    padding: 9px 25px;
    background: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: rgb(255, 255, 255);
    color: #ff9100;
    transform: scale(1.1);
}

.encabezadoI{
    width: 100%;
    height: 53rem;
    opacity: 100%;
    z-index: 55;
    top: 0%;
    background-image: url(../img/ASSETS/bg_hero_1.svg);
    background-repeat: no-repeat;
}

.cuadroE {
    z-index: 60;
    position: relative;
    top: -590px;
    opacity: 100%;
    padding: 50px;
    width: 40%;
    margin-left: 140px;
}

.textoEH{
    font-size: 45px;
}

.textoEP{
    font-size: 22px;
    padding-top: 10px;
}

.imgP{
    position: relative;
    right: 10rem;
    z-index: 65;
    max-width: 20%;
    top: 90px;
    left: 45rem;
    overflow: hidden;
    margin-right: 50px;
    margin-bottom: 5px;
}

.contenedor_clase{
    background-color: antiquewhite;
    z-index: 60px;
    
}

@media screen and (max-width: 1000px) {
    .imgP{
        position: relative;
        left: 30rem;
        right: 15rem;
        top: 40px;
        overflow: hidden;
    }
    .textoEP{
        font-size: 15px;
        overflow: hidden;
    }
    .textoEH{
        font-size: 35px;
        overflow: hidden;
    }
    .cuadroE{
        padding: 15px;
        top: -350px;
        overflow: hidden;
    }
    .encabezadoI{
        height: auto;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .header .nav-links a{
        font-size: 15px;
    }
    .header .btn button{
        font-size: 15px;
    }
    .header .logo img{
        height: 45px;
        width: auto;
    }
}

@media screen and (max-width: 750px) {
    .imgP{
        display: none;
    }
    .cuadroE{
        padding: 5px;
        top: -10px;
        overflow: hidden;
    }
    .textoEP{
        font-size: 10px;
        overflow: hidden;
    }
    .textoEH{
        font-size: 15px;
        overflow: hidden;
    }
    .encabezadoI{
        height: auto;
        overflow: hidden;
        background-image: none;
        background-color: #ff9100;
    }
    .header .nav-links a{
        font-size: 9px;
    }
    .header .btn button{
        font-size: 9px;
    }
    .header .logo img{
        height: 15px;
        width: auto;
    }
}

.mod{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 200px;
}

.sobre-nosotros {
    text-align: center;
    font-size: 45px;
    color: dimgrey;
    text-decoration: none;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 5px;
    width: 30%;
    height: auto;
    text-align: justify;
    padding: 40px;
    box-shadow: 0px 0px 7px 0 rgba(240, 235, 235, 0.849);
    color: dimgrey;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
}

h4{
    text-align: center;
}

.img{
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
}