@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    max-width: 2000px;
}

.barraNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: relative;
    top: 0%;
    z-index: 99;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #ff9100;
    padding: 9px 25px;
    background: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: rgb(255, 255, 255);
    color: #ff9100;
    transform: scale(1.1);
}

.encabezadoI{
    width: 100%;
    height: 53.6rem;
    opacity: 100%;
    position: absolute;
    z-index: 50;
    top: 0%;
    background-image: url(../img/ASSETS/bg_hero_1.svg)
}

.cuadroE {
    z-index: 60;
    position: relative;
    opacity: 100%;
    top: 7rem;
    left: 7rem;
    padding: 50px;
    width: 40%;
}

.textoEH{
    font-size: 55px;
}

.textoEP{
    font-size: 25px;
    padding-top: 10px;
}

.imgP{
    position: relative;
    right: 10rem;
    z-index: 65;
    max-width: 20%;
    top: -265px;
    right: 5px;
    left: 65rem;
    overflow: hidden;
}

.contenedor_clase{
    background-color: antiquewhite;
    z-index: 60px;
    
}

@media screen and (max-width: 1000px) {
    .imgP{
        position: relative;
        left: 30rem;
        right: 15rem;
        top: -239px;
    }
    .textoEP{
        font-size: 15px;
    }
    .textoEH{
        font-size: 35px;
    }
    .cuadroE{
        padding: 15px;
        top: 3rem;
    }
    .encabezadoI{
        height: auto;
        background-repeat: no-repeat;
        
    }
}