@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

.encabezadoI{
    width: auto;
    height: auto;
    opacity: 100%;
    top: 0%;
    background-image: url(../img/ASSETS/bg_hero_1.svg);
    background-size: cover; 
    background-repeat: repeat;
    margin: 0%;
}

@media screen and (max-width: 1200px) {
    
    .card-img, .imgP{
        display: none;
    }
    .col .card-text{
        max-width: 100%;
        min-width: 100%;
        text-align: center;
    }

    .card .card-text{
        justify-self: center;
        margin: 0%;
    }
}
  

.contenedor_clase{
    background-color: antiquewhite;
    z-index: 60px;   
}
.card-img {
    display: flex;
    bottom: 0%;
}

.card-text{
    max-width: 70%;
    text-align: center;
}

p.card-text{
    justify-self: center;
    margin-left: 15%;
}

.imgP {
    width:45%
}

.section {
    height: 5%;
}

.mod{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
}

.sobre-nosotros {
    text-align: center;
    font-size: 45px;
    color: dimgrey;
    text-decoration: none;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

h4{
    text-align: center;
}

.img{
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
}