<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" href="/auth/inicio"><img src="https://i.postimg.cc/PqP9rJTF/logo-removebg-preview.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a role="button" class="btn-outline-warning btn-lg " aria-pressed="true" class="nav-link" href="/Admin/dashboard">DASHBOARD</a>
      </li>
      <li class="nav-item active">
        <a role="button" class="btn-warning btn-lg shadow" aria-pressed="true" class="nav-link" href="/logout">LOG OUT</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid p-4">
    <div class="h3 text-center m-4">BIENVENIDO ADMINISTRADOR</div>
        <div class="row">
            <div class="card bg-light m-4 p-3 mx-auto shadow" style="max-width: 25rem;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="https://cdn-icons-png.flaticon.com/512/1053/1053916.png" alt="..." style="width: 100%;">
                    </div>
                    <div class="card-body md-2">
                        <h2 class="card-title">ENTRENADOR</h2>
                        <a role="button" class="h2 btn-warning btn-lg btn-block" aria-pressed="true" class="nav-link" href="/Entrenador/listadoE">VER LISTADO</a>
                        <a role="button" class="h2 btn-warning btn-lg btn-block" aria-pressed="true" class="nav-link" href="/Entrenador/registroE">REGISTRO DATOS</a>
                    </div>
                </div>
            </div>
             <div class="card bg-light m-4 p-3 mx-auto shadow" style="max-width: 25rem;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="https://cdn-icons-png.flaticon.com/512/1053/1053907.png" alt="..." style="width: 100%;">
                    </div>
                    <div class="card-body md-2">
                        <h2 class="card-title">JUGADORES</h2>
                        <a role="button" class="h2 btn-warning btn-lg btn-block" aria-pressed="true" class="nav-link" href="/jugador/listadoJ">VER LISTADO</a>
                        <a role="button" class="h2 btn-warning btn-lg btn-block" aria-pressed="true" class="nav-link" href="/jugador/registroJ">REGISTRO DATOS</a>
                    </div>
                </div>
            </div>
              <div class="card bg-light m-4 p-3 mx-auto shadow" style="max-width: 25rem;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="https://cdn-icons-png.flaticon.com/512/1053/1053933.png" alt="..." style="width: 100%;">
                    </div>
                    <div class="card-body md-2">
                        <h2 class="card-title">USUARIOS</h2>
                        <a role="button" class="h2 btn-warning btn-lg btn-block" aria-pressed="true" class="nav-link" href="/usuario/listUser">VER Y ELIMINAR USUARIOS</a>
                    </div>
                </div>
            </div>
             <div class="card bg-light m-4 p-3 mx-auto shadow" style="max-width: 25rem;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="https://cdn-icons-png.flaticon.com/512/1053/1053951.png" alt="..." style="width: 100%;">
                    </div>
                    <div class="card-body md-2">
                        <h2 class="card-title">ACTIVIDADES</h2>
                        <a role="button" class="h2 btn-warning btn-lg btn-block" aria-pressed="true" class="nav-link" href="/usuario">LISTADO</a>
                        <a role="button" class="h2 btn-warning btn-lg btn-block" aria-pressed="true" class="nav-link" href="/usuario/add">CREAR</a>
                    </div>
                </div>
            </div>
        </div>
</div>
