<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" href="/auth/inicio"><img src="https://i.postimg.cc/PqP9rJTF/logo-removebg-preview.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a role="button" class="btn-outline-warning btn-lg " aria-pressed="true" class="nav-link" href="/signup">REGISTRO</a>
      </li>
      <li class="nav-item active">
        <a role="button" class="btn-outline-warning btn-lg active shadow" aria-pressed="true" class="nav-link" href="/signin">INICIA SESION</a>
      </li>
    </ul>
  </div>
</nav>
<body style="">
    <br>
<div class="container w-72 mt-5 rounded shadow align-center">
        <div class="row">
            <div class="col">
                <br>
                    <div class="card-body m-4">
                        <h1 class="card-title">Administra tu escuela deportiva con PIVOOT</h1>
                        <h4 class="card-text font-weight-light"> Pivoot te brinda un servicio para mantener el registro de tus trabajadores y de tus estudiantes. 
                        </h4>
                    </div>
            </div>
             <div class="col card-img">
                <img src="https://img.freepik.com/vector-premium/jugador-silueta-baloncesto-slam-dunk-flame_9245-115.jpg?w=740" class="img-fluid" alt="">
              </div>
          </div>
      </div>
</div>
<br>
<br>
    <div class="container text-center justify-content-evenly prefix">
        <div class="row align-items-center">
          <div class="border rounded col shadow p-3 mb-5 bg-white rounded" >
            <img class="img" src="https://cdn-icons-png.flaticon.com/512/1158/1158399.png?w=740&t=st=1669005874~exp=1669006474~hmac=d56f01a94306ef25bf203fb286b1768bc62345765eeacc09164f773716165333" alt="" style="width: 30%;">
                <h4><br>Actividades</h4>
                <p>Su funci칩n es permitir visualizar, crear y editar actividades.</p>
          </div>
          <div class="border rounded col shadow p-3 mb-5 bg-white rounded">
            <img class="img" src="https://cdn-icons-png.flaticon.com/512/1158/1158263.png?w=740&t=st=1669005828~exp=1669006428~hmac=25a24cb627a9551d0ac1c8f077b9d58079ed95a5bfc7bd6717283cffb22a6d3a" alt="" style="width: 30%;">
                <h4><br>Usuarios</h4>
                <p>Un jugador registrado en el sistema tendr치 acceso al sistema autenticandose con correo y clave el cual se le suministra apenas su registro haya sido exitoso.</p>
          </div>
          <div class="border rounded col shadow p-3 mb-5 bg-white rounded">
            <img class="img" src="https://cdn-icons-png.flaticon.com/512/1158/1158416.png?w=740&t=st=1669005899~exp=1669006499~hmac=25498f47903670473b945af851f8888cf0eb939edec1048753705ffea99032df" alt="" style="width: 30%;">
            <h4><br>Director General</h4>
            <p>El director general tendr치 acceso a todas las funcionalidades que maneje el sistema incluyendo los m칩dulos que este maneja.</p>
        </div>
        </div>
    </div>

</body>