<div class="container-fluid p-4">
    
    <div class="h4 text-center m-4"> Bienvenido <b>{{{UsuNombre}}}</b></div>
        {{#each UsuNombre}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <p>
                            <h3 class="card.tittle text-uppercase">
                                {{UsuNombre}}
                            </h3>
                        </p>
                        <p class="m-2">
                            {{UsuNombre}}
                        </p>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
</div>

