<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" href="/auth/inicio"><img src="https://i.postimg.cc/PqP9rJTF/logo-removebg-preview.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a role="button" class="btn-outline-warning btn-lg " aria-pressed="true" class="nav-link" href="/signup">REGISTRO</a>
      </li>
      <li class="nav-item active">
        <a role="button" class="btn-outline-warning btn-lg active shadow" aria-pressed="true" class="nav-link" href="/signin">INICIA SESION</a>
      </li>
    </ul>
  </div>
</nav>
<body style="body{
            background-image: url(../img/ASSETS/fondologin.svg);
        }
        .fondoIMG{
            background-image: url(../img/ASSETS/fondolog.jpg);
            background-position: center center;
            background-size: cover;
        }">

    <div class="container w-72 mt-5 rounded shadow align-center">
        <div class="row align-items-stretch">
            <div class="fondoIMG col d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
                <img src="https://img.freepik.com/vector-premium/regate-baloncesto-silueta-llama-oscura_9245-116.jpg?w=2000" alt="" style="width: 100%;">
            </div>
            <div class="col bg-white p-5 rounded-end">
                <div class="text-end">
                    <img src="../img/logo.png" width="48" alt="">
                </div>

                <h2 class="fw-bold text-center py-5">Bienvenido</h2>

                <!-- LOGIN -->
                <form action="/signin" method="post">
                        <div class="form-group">
                            <input type="text" name="UsuNombre" placeholder="Nombre de usuario" class="form-control" focus required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="UsuContraseña" class="form-control" placeholder="password" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning btn-block shadow" type="submit">
                                Ingresar
                            </button>
                        </div>
                        {{#if err2}}
                            <p class="text-danger">{{err2}}</p>
                        {{/if}}
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>